
body{
    text-align: center;
    background-color: white;
}

/* Css input e botão */
#emailinput{

    margin-left: 5px;

}

#emailinput, #nomeinput{
    display: inline-flex;

    font-size: 20px;

    width: 350px;
    height: 50px;

    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}

#emailinput:focus, #nomeinput:focus{
    outline: none;

    border: 1       px solid black;
    transition-duration: 00.5s;
}

#enviar-form{
    margin-top: 10px;

    font-size: 20px;

    background-color: black;
    border: 1px solid gray;
    color: white;
    border-radius: 5px;;

    transition-duration: 0.5s;

    height: 54px;
    width: 72%;

}

#enviar-form:hover{
    
    background-color: rgb(49, 49, 49);
    border-color: gray;
    cursor: pointer;

}

/* Texto do container */
#texto-principal{

    font-size: 52px;
    margin-top: 30px;
    color: black;

}

/* Css conteiner do form */
#container-newsletter{

    padding: 30px;

    height: 280px;
    width: 1000px;

    display: inline-block;

    border: 2px solid black;
    border-radius: 10px;

}

/* Css mensagem */
#email-msg{

    font-size: 16px;

}

/* Responsiva */
@media only screen and (max-width: 1075px) {
    #container-newsletter{width: 80%; height: 110%;}
    #emailinput, #nomeinput{width: 48%;}
    #enviar-form{width: 99%;}
}

@media only screen and (max-width: 995px) {
    #emailinput, #nomeinput{width: 48%;}
    #enviar-form{width: 99%;}
}

@media only screen and (max-width: 672px) {
    #container-newsletter{height: 100%;}
    #emailinput{margin-left: 0;}
    #emailinput, #nomeinput {width:90%; margin-bottom: 1%;}
    #enviar-form{width: 91%; margin-bottom: 2%;}
}
